body {
    text-align: center;
    margin: auto;
    background-color: #E4E4E4;
    position: relative;
}

article {
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
}

section {
    padding-right: 30px;
}

li {
    font-size: 11px;
}

div#base {
    background-color: #FFFFFF;
    min-height: 60px;
    width: 810px;
    margin: auto;
}

#top-bar {
    margin: auto;
    background-color: #565656;
    color: #4C4C4C;
    font-size: 10px;
    font-family: Tahoma, Verdana, Arial, Helvetica;
    width: 790px;
    height: 35px;
    margin-top: -15px;
    padding: 0px 0px 0px 21.3333px;
    display: block;
}
#top-bar-links a{
    font-weight: normal;
    float: left;
    font-size: 10px;
    color: #F2F2F2;
    padding: 5px 15px 7px 15px;
    text-decoration: none;
    background-color: #565656;
}
#top-bar-links a:hover {
    background-color: #ddd;
}

a#home-button {
    color: #FFFFFF;
    background-color: #639A33;
}

div#begin-reasons {
    border-top: 1px solid #ccc;
}

div#top-begin-reasons {
    margin-top: 30px;
}

div.quote {
    font-size: 10px;
    text-align: left;
    font-weight: normal;
}

div.author {
    text-align: right;
    font-size: 10.666px;
}

div.section {
    padding-bottom: 15px;
    padding-left: 55px;
    /* padding: 10px 0px 15px 54px; */
    font-size: 12px;
}

div#content {
    background-color: #FFFFFF;
    width: 810px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: auto;
    font-size: 12px;
    color: #4C4C4C;
    font-family: Tahoma;
    text-align: left;
    padding-top: 20px;
}

div.sign-up-button {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}

div.informationBoxTitle {
    text-align: left;
    color: #404040;
    font-size: 10.6667px;
    font-family: Tahoma, Verdana, Arial, Helvetica;
    padding: 8px 8px 8px 20px;
    background-color: #E4E9DB;
    border-radius: 10px 10px 0px 0px;
}

div.infoBox {
    background-color: #F4F7EF;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}

a.walkthroughLink {
    color: #4F7715;
    font-size: 10.6667px;
    text-decoration: none;
    font-weight: bold;
}

div#copyright {
    color: #6F6F6F;
    text-align: left;
    margin-top: 40px;
    font-weight: normal;
}

a.copyrightLink {
    color: #6F6F6F;
}

a.copyrightLink:hover {
    color: black;
}

p {
    font-size: 12px;
}

div {
    padding-top: 10px;
    font-size: 10px;
}

a#partisan {
    font-size: 14px;
}

a {
    color: #4F7715;
    background-color: transparent;
    text-decoration: underline;
} 

ul {
    list-style-type: square;
}

footer {
    padding-left: 55px;
    padding-bottom: 55px;
}

footer a {
    text-decoration: none;
}